section#brands {
    background-color: black;

    .container {
        @extend %flex-row-between;
        flex-wrap: wrap;
        gap: 16px;
        padding-block: 42px;

        @include responsive(large) {
            justify-content: center;
            gap: 32px;
        }
    }
}
