@import url("../../fonts/IntegralCF/IntegralCF.css");
@import url("../../fonts/Satoshi/Satoshi.css");
$font-family--IntegralCF: "Integral CF", sans-serif;
$font-family--Satoshi: "Satoshi", sans-serif;
$font-optical-sizing: auto;
