// NORMALIZE
@import "./base/reset";
// VARIABLES
@import "./utils/variables";
// FONTS
@import "./utils/fonts";
// COLORS
@import "./utils/colors";
// MIXINS
@import "./utils/mixins";
// TRANSITIONS
@import "./base/transitions";
// EXTENDS
@import "./utils/extends";
// TYPOGRAPHY
@import "./base/typography";
// COMPONENTS
@import "./components/container";
@import "./components/breakpoint";
@import "./components/burger";
@import "./components/scrollup";
// LAYOUT
@import "./layout/header";
@import "./layout/footer";
// PAGES
@import "./pages/home/home";
