.remainder {
    height: 38px;
    background: black;
    color: white;
    font-size: 14px;
    line-height: 20px;
    padding-block: 9px;
    text-align: center;
    overflow: hidden;
    @include transition();

    .container {
        p {
            display: inline-block;
            text-align: center;
            a {
                font-weight: 500;
                text-decoration: underline;
            }
        }

        i {
            @extend %flex-row-center;
            float: right;
            cursor: pointer;
            @include size(20px);
        }
    }

    &.fadeOut {
        height: 0;
        padding-block: 0;
    }
}
