footer {
    background: #f0f0f0;
    padding-block: 75px;
    margin-top: 100px;

    .container:has(.banner) {
        padding-block: 0;
        position: relative;
        .banner {
            position: absolute;
            top: -150px;
            left: auto;
            right: auto;
        }
    }
    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        // @include grid(5, auto);
        padding-block: 75px;

        .logo {
            font-family: $font-family--IntegralCF;
            font-size: 32px;
            font-weight: 700;
        }

        p {
            width: 248px;
            height: 66px;

            font-size: 14px;
            line-height: 22px;

            margin-block: 25px 35px;
        }

        .socials {
            display: flex;
            align-items: center;
            gap: 12px;
            i {
                @extend %flex-row-center;
                background: white;
                width: 28px;
                height: 28px;
                border-radius: 50%;
                font-size: 12px;
                border: 1px solid rgba(0, 0, 0, 0.2);

                &:hover {
                    // background: #3b5998;
                    background: black;
                    color: white;
                    border: 1px solid black;
                }
            }
        }

        h6 {
            font-family: Satoshi;
            font-size: 16px;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: 3px;
            margin-bottom: 25px;
        }
        ul {
            li {
                font-size: 16px;
                line-height: 19px;
                color: rgba(0, 0, 0, 0.6);
                margin-bottom: 15px;
                cursor: pointer;

                &:hover {
                    font-weight: 500;
                }
            }
        }
    }
    .container.bottom {
        @extend %flex-row-between;
        color: rgba(0, 0, 0, 0.6);
        padding-block: 25px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);

        p {
            width: fit-content;
            font-size: 14px;
            line-height: 18.9px;
            text-wrap: nowrap;
        }

        .options {
            @extend %flex-row-center;
            gap: 12px;

            img {
                width: 46.61px;
                height: 30.03px;
                padding: 9.94px 7.17px 9.59px 6.91px;
                border-radius: 5px;
                background: white;
                border: 0.2px solid rgba(214, 220, 229, 1);
                box-shadow: 0px 0.4482142925262451px 4.482142925262451px 0px
                    rgba(183, 183, 183, 0.08);

                box-shadow: 0px 4.482142925262451px 8.964285850524902px 0px
                    rgba(183, 183, 183, 0.08);
            }
        }
    }
}
