* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: black;
  color: white;
}

::selection {
  background-color: black;
  color: white;
}

img,
a,
i,
span,
p,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  transition: all 0.3s ease;
}

section#top-selling .container .items .item .price span, section#top-selling .container .items .item .rating, section#top-selling .container .items, section#new-arrivals .container .items .item .price span, section#new-arrivals .container .items .item .rating, section#new-arrivals .container .items, section#hero .container .stats, section#hero .container button, header .container .actions, header .container nav ul, header .container, .remainder .container i, #scroll-up {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

section#top-selling .container .items .item, section#new-arrivals .container .items .item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section#brands .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

body {
  font-family: "Satoshi", sans-serif;
  font-optical-sizing: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Integral CF", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.container {
  max-width: 1240px;
  margin-inline: auto;
  padding-inline: 42px;
}
@media (min-width: 1200px) {
  .container {
    padding-inline: 46px;
  }
}
@media (max-width: 992px) {
  .container {
    padding-inline: 32px;
  }
}
@media (max-width: 760px) {
  .container {
    padding-inline: 24px;
  }
}
@media (max-width: 576px) {
  .container {
    padding-inline: 16px;
  }
}

.breakpoint {
  position: fixed;
  top: initial;
  left: initial;
  bottom: 50px;
  right: 50px;
  z-index: 999;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  border-radius: 50%;
  background: black;
}
@media (min-width: 1200px) {
  .breakpoint {
    background: green;
  }
  .breakpoint::after {
    content: "XL";
    position: relative;
    line-height: 50px;
  }
}
@media (max-width: 992px) {
  .breakpoint {
    background: blue;
  }
  .breakpoint::after {
    content: "LG";
    position: relative;
    line-height: 50px;
  }
}
@media (max-width: 760px) {
  .breakpoint {
    background: yellow;
  }
  .breakpoint::after {
    content: "MD";
    position: relative;
    line-height: 50px;
  }
}
@media (max-width: 576px) {
  .breakpoint {
    background: red;
  }
  .breakpoint::after {
    content: "SM";
    position: relative;
    line-height: 50px;
  }
}

.burger {
  color: black;
  display: none !important;
  font-size: 24px;
  cursor: pointer;
}
@media (max-width: 992px) {
  .burger {
    display: block !important;
  }
}

#scroll-up {
  position: fixed;
  top: initial;
  left: initial;
  bottom: 110px;
  right: 50px;
  z-index: 999;
  transition: all 0.3s ease;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
}
#scroll-up:hover {
  background: black;
}

.remainder {
  height: 38px;
  background: black;
  color: white;
  font-size: 14px;
  line-height: 20px;
  padding-block: 9px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
}
.remainder .container p {
  display: inline-block;
  text-align: center;
}
.remainder .container p a {
  font-weight: 500;
  text-decoration: underline;
}
.remainder .container i {
  float: right;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.remainder.fadeOut {
  height: 0;
  padding-block: 0;
}

header {
  position: sticky;
  inset: 0 0 auto 0;
  padding: 0;
  margin: 0;
  z-index: 999;
  background-color: white;
}
header .container {
  gap: 40px;
  min-height: 48px;
  padding-block: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  font-family: "Integral CF", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
header .container nav ul {
  gap: 40px;
}
header .container nav ul li {
  font-size: 16px;
  font-weight: 400;
}
header .container nav ul li.dropdown {
  position: relative;
}
header .container nav ul li.dropdown a:hover + .dropdown-menu {
  opacity: 1;
}
header .container nav ul li.dropdown i {
  margin-left: 5px;
  font-size: 0.8em;
}
header .container nav ul li.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 100;
}
header .container nav ul li.dropdown .dropdown-menu ul {
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 16px;
}
header .container nav ul li.dropdown .dropdown-menu ul li {
  font-size: 16px;
  font-weight: 400;
}
header .container nav ul li.dropdown .dropdown-menu ul li a {
  text-wrap: nowrap;
}
header .container nav ul li.dropdown .dropdown-menu ul li:hover, header .container nav ul li.dropdown .dropdown-menu ul li.active {
  font-weight: 500;
}
header .container .search {
  flex: 1;
  position: relative;
}
header .container .search input {
  height: 48px;
  width: 100%;
  padding: 12px 16px 12px 52px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
  background-color: #f0f0f0;
  border: none;
  outline: none;
  border-radius: 62px;
}
header .container .search input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 400;
}
header .container .search input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 400;
}
header .container .search i {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: rgba(0, 0, 0, 0.4);
}
header .container .actions {
  gap: 14px;
}
header .container .actions img {
  cursor: pointer;
}

section#hero {
  min-height: 80dvh;
  background-image: url("https://s3-alpha-sig.figma.com/img/b26f/ea69/ccfd8aa5825862cdb9604a4fb4930464?Expires=1712534400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=i561rub8s1KgwW~gWqTWIfwPIhe9vLoLSXC716s~mQHCZm1m3wydcZb6oLKAHW3tuVUB1mw97RouOGHkMmqJQFY8avM~cnUFaSH1Et-M3UXDWq54SGJ3r6mV3dTl197ip868gbrq5V6~Hli2qzRUUqWjFQi2xhuj7NgUbcHhKy1JGzBpbdW3B0QmVDGGW7ajG3apcvcDS8rydrbcTYnx2FfflNIUpSpCGNtL1lBl9dW5dXPLkH4mEEypVoKmp1fYDLtis-CpXI3-3s7xoAIkTwH6~BuERu1pWcd4sVajdGc4dNDBv0vUp-FT3mbIIYFQKR36AdTQ4vWKaELwCoXWuw__");
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 90% 10% !important;
  background-color: #f2f0f1;
}
section#hero .container {
  position: relative;
  padding-block: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
section#hero .container h1 {
  max-width: 577px;
  font-size: 64px;
  line-height: 64px;
  margin-bottom: 32px;
}
section#hero .container p {
  max-width: 545px;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 32px;
}
section#hero .container button {
  width: 210px;
  height: 52px;
  background: black;
  border-radius: 62px;
  color: white;
  margin-bottom: 32px;
}
section#hero .container .stats {
  gap: 32px;
}
section#hero .container .stats .stat {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 32px;
}
section#hero .container .stats .stat span {
  font-size: 40px;
  font-weight: 700;
  line-height: 54px;
}
section#hero .container .stats .stat p {
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.6);
}
section#hero .container .stats .stat:last-child {
  border: none;
}
section#hero .container .star {
  position: absolute;
  animation: pulse 2s infinite;
}
section#hero .container .star__small {
  top: 50%;
  right: 40%;
  width: 56px;
  height: 56px;
  animation-delay: 300ms;
}
section#hero .container .star__medium {
  top: 15%;
  right: 0;
  width: 100px;
  height: 100px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
section#brands {
  background-color: black;
}
section#brands .container {
  flex-wrap: wrap;
  gap: 16px;
  padding-block: 42px;
}

section#new-arrivals .container {
  padding-block: 72px;
  text-align: center;
}
section#new-arrivals .container h2 {
  font-size: 48px;
  line-height: 57px;
  margin-bottom: 55px;
}
section#new-arrivals .container .items {
  gap: 16px;
  flex-wrap: wrap;
}
section#new-arrivals .container .items .item {
  align-items: flex-start;
  text-align: left;
}
section#new-arrivals .container .items .item .img {
  width: 270px;
  height: 270px;
  overflow: hidden;
  border-radius: 20px;
}
section#new-arrivals .container .items .item .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
section#new-arrivals .container .items .item .img img:hover {
  transform: scale(1.1);
}
section#new-arrivals .container .items .item a.title {
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  margin-top: 16px;
}
section#new-arrivals .container .items .item .rating {
  margin-top: 6px;
}
section#new-arrivals .container .items .item .rating .stars i {
  font-size: 14px;
  color: #ffc633;
}
section#new-arrivals .container .items .item .rating span {
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.6);
}
section#new-arrivals .container .items .item .rating span strong {
  color: black;
}
section#new-arrivals .container .items .item .price {
  display: flex;
  gap: 10px;
  margin-top: 8px;
  align-items: center;
}
section#new-arrivals .container .items .item .price p {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
section#new-arrivals .container .items .item .price s {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: rgb(153, 153, 153);
}
section#new-arrivals .container .items .item .price span {
  border-radius: 62px;
  width: 58px;
  height: 28px;
  font-size: 12px;
  line-height: 16px;
  background: rgba(255, 51, 51, 0.102);
  color: #ff3333;
}

section#top-selling .container {
  padding-block: 72px;
  text-align: center;
}
section#top-selling .container h2 {
  font-size: 48px;
  line-height: 57px;
  margin-bottom: 55px;
}
section#top-selling .container .items {
  gap: 16px;
  flex-wrap: wrap;
}
section#top-selling .container .items .item {
  align-items: flex-start;
  text-align: left;
}
section#top-selling .container .items .item .img {
  width: 270px;
  height: 270px;
  overflow: hidden;
  border-radius: 20px;
}
section#top-selling .container .items .item .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
section#top-selling .container .items .item .img img:hover {
  transform: scale(1.1);
}
section#top-selling .container .items .item a.title {
  font-size: 20px;
  line-height: 27px;
  font-weight: 700;
  margin-top: 16px;
}
section#top-selling .container .items .item .rating {
  margin-top: 6px;
}
section#top-selling .container .items .item .rating .stars i {
  font-size: 14px;
  color: #ffc633;
}
section#top-selling .container .items .item .rating span {
  font-size: 14px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.6);
}
section#top-selling .container .items .item .rating span strong {
  color: black;
}
section#top-selling .container .items .item .price {
  display: flex;
  gap: 10px;
  margin-top: 8px;
  align-items: center;
}
section#top-selling .container .items .item .price p {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}
section#top-selling .container .items .item .price s {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: rgb(153, 153, 153);
}
section#top-selling .container .items .item .price span {
  border-radius: 62px;
  width: 58px;
  height: 28px;
  font-size: 12px;
  line-height: 16px;
  background: rgba(255, 51, 51, 0.102);
  color: #ff3333;
}/*# sourceMappingURL=main.css.map */